{{^has_favicons}}
<!-- The animovement suite icon, shared by every package site (animovement/.github#43) -->
<link rel="icon" type="image/svg+xml" href="{{#site}}{{root}}{{/site}}favicon.svg">
<link rel="icon" type="image/png" sizes="96x96" href="{{#site}}{{root}}{{/site}}favicon-96x96.png">
<link rel="icon" sizes="any" href="{{#site}}{{root}}{{/site}}favicon.ico">
<link rel="apple-touch-icon" sizes="180x180" href="{{#site}}{{root}}{{/site}}apple-touch-icon.png">
{{/has_favicons}}
{{#includes}}{{{in_header}}}{{/includes}}
